{% extends 'base.html.twig' %}

{% block title %}Voyage{% endblock %}

{% block section %}
 <div class="container-fluid bg-primary py-5 mb-5 hero-header">
            <div class="container py-5">
                <div class="row justify-content-center py-5">
                    <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                        <h1 class="display-3 text-white animated slideInDown">{{ voyage.titre }}</h1>
                    </div>
                </div>
            </div>
    </div>
 <div class="row g-4 mb-4">
				    <div class="col-12 ">
				        <div class="app-card app-card-stats-table h-100 shadow-sm">
					        <div class="app-card-header p-3">
						        <div class="row justify-content-between align-items-center">
                                <table>
                                <tr>
                                  <td>
							       <div class="col-auto text-center"> 
                                      <img src="{{ asset(voyage.image) }}" alt="" class="img-thumbnail">
                                   </div>
                                  </td>
                                  <td>
                                   <div class="col-auto">
                                     <h1 class="">Description :</h1>{{ voyage.description }}
                                     <h1 class="">Prix :</h1> {{ voyage.prix }} DT <br>
                                       <div class="">
                                         <hr>
                                          <div class="d-flex justify-content-center mb-2">
                                             <a href="{{ path('app_booking') }}" class="btn btn-sm btn-primary px-3" style="border-radius: 30px 30px 30px 30px;">Book Now</a>
                                             </div>
                                         </div>
                                  </div>
                                 </td>
                                 </tr>
                                 </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}